*/
h1, h2, h3, h4, h5, h6, img, p, table, tr, td, span, strong, label, input, select, section, div, header, textarea {
  margin: 0;
  padding: 0; }

a img {
  border: none; }

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  color: inherit; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

table td {
  vertical-align: top; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: url("") no-repeat fixed;

}
.registerWrapper .regTitle{
  font-size: 25px;

}
.regformWrapper {
    width: 100%;
}
.registerWrapper {
  width: 80%;
  margin: 35px auto 30px auto;
  padding: 10px 0;
  font-size: 20px;
}
.registerWrapper div{
  color: #464646;
}
.regformWrapper .inputfield {
    width: 100%;
    padding: 13px 0;
    border-radius: none;
    border:  2px solid #c5c5c5;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
  .registerWrapper .inputfield {
    width: 100%;
    padding: 13px 10px;
    border-radius: 0;
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
  }
  .registerWrapper select {
    width: 100%;
    padding: 13px 10px;
    border-radius: 0;
    border-bottom: 2px solid #c5c5c5;
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
  }
  .registerWrapper input[type=radio] li {
    margin-top: 10px;
  }

.fullwidth{
  float: left;
  margin-top: 30px;
  width:50%;
}
.fullwidth label{
    width: 100%;
  }
.fullWidth label {
  width: 100%;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.guTTerLi  {
  width: 100%;
  font-size: 15px;
  margin-top: 30px;

}
.guTTerLi label {
  width: 100%;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
.guTTerLi select {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #c5c5c5;
  margin-top: 5px; }

.pclear{
    clear: both;
  }

.fullWidth p {
  margin-top: 20px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
 }

.fullWidth li {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.inputfield {
  float: left;
  padding: 3px 10px;
  background-color: #f3f3f3;
  border: none;
  width: 40%;
}

.pclear{
  clear: both;
}

.loginsubm {
}

.loginsubm input[type=submit] {
  width: 100%;
  text-align: center;
  padding: 7px 15px;
  font-size: 15px;
  background-color: #fa1c16;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif; }

.loginsubm input[type=submit]:hover {
  background-color: #d24d3e; }
