
				.landing {
        background-image: url("https://res.cloudinary.com/dqpoj0kcn/image/upload/c_fill,h_578,w_1366/v1567388323/apple-black-and-white-black-and-white-169573.jpg");
        width:100%;
        object-fit:fill;
				opacity: 1;
				z-index: -6;
				height: 578px;
				background-repeat: no-repeat;
			}

			.HomeText {position: relative;
				color:white;
				top:250px;
				text-align: left;
				font-size: 28px;
				margin-left:40px;}
				.HomeText p {font-size:40px;}
				#homelink {color:white;
					font-size:18px;
					text-decoration: none;
					padding:4px;
					border-radius: 25px;
					background:red;
					display: block;
					text-align: center;
					cursor: pointer;
					width: 150px;
				}
				#homelink a {color:white;}
				.HomeWord {font-size:35px;}
				body a {text-decoration: none;}

				@media screen and (max-width: 600px) {
				 .landing {
					 display: none;
				 }

				}
