
				.landing {
					background-image: url("https://res.cloudinary.com/dqpoj0kcn/image/upload/c_scale,h_960,w_1440/v1567695515/apple-black-and-white-black-and-white-169573_1_-min.jpg");
        /* background-image: url("https://res.cloudinary.com/dqpoj0kcn/image/upload/c_fill,h_578,w_1440/v1567388323/apple-black-and-white-black-and-white-169573.jpg"); */
        width:100%;
				background-attachment: fixed;
				background-position: center;
  			background-repeat: no-repeat;
  			background-size: cover;
				opacity: 1;
				z-index: -6;
				height: 700px;
				background-repeat: no-repeat;
			}

			.HomeText {position: relative;
				color:white;
				top:250px;
				text-align: left;
				font-size: 28px;
				margin-left:40px;}
				.HomeText p {font-size:40px;}
				#homelink {color:white;
					font-size:18px;
					text-decoration: none;
					padding:4px;
					border-radius: 25px;
					background:red;
					display: block;
					text-align: center;
					cursor: pointer;
					width: 150px;
				}
				#homelink a {color:white;}
				.HomeWord {font-size:35px;}
				body a {text-decoration: none;}

				.landing-2 {
					padding: 2px;
					padding-top: 50px;
				}
				.text-1 {
					margin-top: 20px;
					margin-bottom: 15px;
					text-align: center;
				}
				.text-1 strong {
					font-family: Wesfy, sans-serif;
					font-size: 25px;
				}

				.text-2 {
					color: #333;
					text-align: center;
				}

				.text-2-button {
					margin: 0 auto;
					margin-top: 10px;
				}

				@media screen and (max-width: 600px) {
				 .landing {
					 display: none;
				 }

				}

				@media screen and (min-width: 601px) {
				 .landing-2 {
					 display: none;
				 }

				}
