* {
  font-family: 'Roboto', sans-serif;
}

.application {
  margin: 0 auto;
  width: 100%;
}

/* Navbar */.nav-bar {
  z-index: 1;
  top: 0;
  width: 100%;
  margin-left: 0;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.right {
    float:left !important;
}

li {
  float: right;
  
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.start{
  float:right;
    display:flex;
}

.nav-bar .search-container{
  float: none;
  position: absolute;
  top: 3%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding:6px 10px;
  margin-top: 8px;
 
}
.nav-bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:350px;
  
}
.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

.nav-bar .search-container button {
  float:right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
 
} 


#s-circle{
  width:23px;
}


.nav-bar li a:hover, .dropdown:hover .start-dropbtn, .nav-bar .search-container button:hover {
  background-color: #4CAF50;
}
.nav-bar-ul li.dropdown {
  display: inline-block;
}

.start-dropbtn{
  display:block;
  background-color:red;
  color: white;
  text-align: center;
  margin-left:40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;
  opacity:0.3}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Partners section */
.Partners{
  font-family:Roboto;
  text-align: center;
  padding-bottom: 70px;
}
.Partners h3{
  font-size:32px;
}
.partners-description {
  font-size: 2vw;
}

.partners-description span {
  color: #000000;
}

#HNG{
  width:250px;
  display: inline;
  margin-top: 20px;
}
#Flutterwave{
  width:250px;
  display: inline;
  margin-top: 20px;
  margin-left: 45px;

}
#StartNG{
  width:120px;
  display: inline;
  margin-top: 20px;
  margin-left: 45px;
}


/* The team */
.team-container {
  background-color: rgb(246, 246, 246);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.team-container h1 {
  text-align: center;
  font-family: sans-serif;
}

.team-lead img {
  border-radius: 50%;
  height: 105px;
  margin: 10px;
}

.the-team {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.team-lead {
  margin: 15px;
  border: 1px solid rgb(246, 246, 246);
  background-color: white;
  height: 270px;
  width: 250px;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.02);
}
.team-info {
  margin-left: 10px;
}

.names {
  font-family: sans-serif;
  font-size: 18px;
  margin: 15px;
  font-style:
}
.team-division {
  font-style: italic;
}
#more-team {
  font-style: italic;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgb(246, 246, 246);
  text-align: center;
  width: 40px;
  color: rgb(73, 72, 72);
}
.members {
  margin-left: 200px;
  margin-bottom: 2px;
  margin-top: 43px;
}


/* Footer */
footer {
  background-color: rgb(246, 246, 246);
}

.info {
  float: left;
  margin-right: 100px;
  margin-left: 50px;
  padding: 10px;
  text-align: center;
}

.address {
  height: 300px;
  padding-top: 100px;
}

.address-top {
  border-bottom: 1px solid #000000;
  height: 80px;
}

.address-bottom {
  padding-top: 30px;
}


/* Opportunity is waiting for you */
section {
    margin: 0;
    padding: 0;
}

.column b {
    font-size: 22px;
}

.column p {
    font-size: 22px;
    text-align: center;
}

.container {
    width: 1100px;
    margin: 50px auto 0;
    display: table;
    box-sizing: border-box;
}

.row {
    margin: 10px 0;
}

.column {
    display: table-cell;
    padding: 10px;
    width: 33.33%;
    text-align: center;
    vertical-align: middle;
    border-right: 10px solid white;
}


.section-1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;

}

@media (max-width: 800px) {
    .container {
        margin: 10px;
        padding: 10px;
        width: 100%;

    }

    .column {
        width: 100%;
        display: block;
        margin: 10px 0;
        border: none;
    }

    .row {
        margin: 0;
    }

    .column b {
        font-size: 18px;
    }

    .column p {
        font-size: 15px;
    }
    .section-1 {
        font-size: 15px;
    }
}

.column img {
    width: 60px;
    height: 60px;
}


/* Payments page */

.name-passport-container {
  display: flex;
  flex-direction: row;
}
.passport-container {
  width: 25%;
}

#output {
  width: 150px;
  height: 150px
}

.name-passport {
  margin-right: 10px;
  width: 70%;
}
.name {
  width: 100%;
}
input[type=text] {
  width: 100%;
  height: 2vw;
}

input[type=email] {
  width: 100%;
  height: 2vw;
}

.asterisk {
  color: red;
}

form {
  margin: 0 auto;
  width: 50%;
}

.header {
  text-align: center;
}

input[type=submit]{
  padding: 10px;
  border-radius: 3px;
  background-color: red;
  color: white;
  text-decoration: none;
  font-size: 15px;
  border: none;
}

textarea {
  width: 100%;
}

input[type=submit]:hover {
  background-color: #333
  cursor: pointer;
}
