/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }



  .mx-5 {
    margin-top: 10%;
    padding-left: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: unset;
    
  }

  .d-none {
    font-size: 2em;
    font-weight: normal;
  }

  .become {
    font-size: 3em;
    font-weight: bolder;
  }

  .btn-lg {
    width: 250px;
  }