body {
    background-color: rgb(246, 246, 246);
    font-size: 12px;
    margin: 0 auto;
}

.team-container {
    margin: 0 auto;
    padding: 0;
}

.team-container h1 {
    text-align: center;
    font-family: sans-serif;
}

.team-container img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 10px;
}
.the-team {
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}
.team-lead {
    position: relative;
    margin: 15px;
    border: 1px solid white;
    background-color: white;
    height: 310px;
    width: 250px;
}
.team-info {
    margin-left: 10px;
}

.names {
    font-family: sans-serif;
    font-size: 17px;
    margin-bottom: 3px;
    font-weight: bold;
    color: red;
    opacity: 0.6;

}
.team-division {
    font-style: italic;
    /*font-weight: bold;*/
    margin-top: 3px;
    margin-bottom: 3px;
}
.code {
    font-style: italic;
    /*font-weight: bold;*/
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}
.details {
    margin-left: 145px;
    margin-bottom: 7px;
    margin-top: 33px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#details {
    font-style: italic;
    color: black;
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgb(246, 246, 246);;
    opacity: 0.6;
    text-align: center;
    height: 20px;
    width: 80px;
}

.team {
  padding-top: 50px;
}
@media screen and (max-width: 600px) {
  .the-team {
    display: flex;
    flex-direction: column;
  }

  .team-lead {
    width: 92%;
  }

  .team-landing {
    display: none;
  }

}
