* {
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: right;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: #4CAF50;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;
  opacity:0.3}
.dropdown:hover .dropdown-content {
    display: block;
}
.active {
    background-color: red;
}
.right {
    float:left;
}

/* Partners section */
.Partners{
  font-family:Roboto;
  text-align: center;
  font-style:regular;
}
.Partners h3{
  font-size:32px;
}
.partners-description {
  font-size: 30px;
}

#HNG{
  width:250px;
  display: inline;
  margin-top: 20px;
}
#Flutterwave{
  width:250px;
  display: inline;
  margin-top: 20px;
  margin-left: 45px;

}
#StartNG{
  width:120px;
  display: inline;
  margin-top: 20px;
  margin-left: 45px;
}
