* {
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
.nav-bar {
  position: fixed;
  top: 0;
  width: 99%;
  margin-left: 0;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: right;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: #4CAF50;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;
  opacity:0.3}
.dropdown:hover .dropdown-content {
    display: block;
}
.active {
    background-color: red;
}
.right {
    float:left;
}

/* Partners section */
.Partners{
  font-family:Roboto;
  text-align: center;
  padding-bottom: 70px;
}
.Partners h3{
  font-size:32px;
}
.partners-description {
  font-size: 30px;
}

#HNG{
  width:250px;
  display: inline;
  margin-top: 20px;
}
#Flutterwave{
  width:250px;
  display: inline;
  margin-top: 20px;
  margin-left: 45px;

}
#StartNG{
  width:120px;
  display: inline;
  margin-top: 20px;
  margin-left: 45px;
}


/* The team */
.team-container {
  background-color: rgb(246, 246, 246);
  padding-top: 20px;
  padding-bottom: 20px;
}

.team-container h1 {
  text-align: center;
  font-family: sans-serif;
}

.team-lead img {
  border-radius: 50%;
  height: 105px;
  margin: 10px;
}

.the-team {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;

}
.team-lead {
  margin: 15px;
  border: 1px solid white;
  background-color: white;
  height: 270px;
  width: 250px;
}
.team-info {
  margin-left: 10px;

}

.names {
  font-family: sans-serif;
  font-size: 18px;
  margin: 15px;
  font-style:
}
.team-division {
  font-style: italic;
}
#more-team {
  font-style: italic;
  border: 1px solid white;
  border-radius: 8px;
  background-color: rgb(246, 246, 246);
  text-align: center;
  width: 40px;
  color: rgb(73, 72, 72);
}
.members {
  margin-left: 200px;
  margin-bottom: 2px;
  margin-top: 43px;
}


/* Footer */
.info {
  float: left;
  margin-right: 100px;
  margin-left: 50px;
  padding: 10px;
  text-align: center;
}

.address {
  height: 300px;
  padding-top: 100px;
}

.address-top {
  border-bottom: 1px solid #000000;
  height: 80px;
}

.address-bottom {
  padding-top: 30px;
}


/* Opportunity is waiting for you */
section {
    margin: 0;
    padding: 0;
}

.column b {
    font-size: 22px;
}

.column p {
    font-size: 22px;
    text-align: center;
}

.container {
    width: 1100px;
    margin: 50px auto 0;
    display: table;
    box-sizing: border-box;
}

.row {
    margin: 10px 0;
}

.column {
    display: table-cell;
    padding: 10px;
    width: 33.33%;
    text-align: center;
    vertical-align: middle;
    border-right: 10px solid white;
}


.section-1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;

}

@media (max-width: 800px) {
    .container {
        margin: 10px;
        padding: 10px;
        width: 100%;

    }

    .column {
        width: 100%;
        display: block;
        margin: 10px 0;
        border: none;
    }

    .row {
        margin: 0;
    }

    .column b {
        font-size: 18px;
    }

    .column p {
        font-size: 15px;
    }
    .section-1 {
        font-size: 15px;
    }
}


.column img {
    width: 60px;
    height: 60px;
}
