body {
    margin: 0;
    padding: 0;
}

b {
    font-size: 22px;
}

p {
    font-size: 22px;
    text-align: center;
}

.container {
    width: 1100px;
    margin: 50px auto 0;
    display: table;
    box-sizing: border-box;
}

.row {
    margin: 10px 0;
}

.column {
    display: table-cell;
    padding: 10px;
    width: 33.33%;
    text-align: center;
    vertical-align: middle;
    border-right: 10px solid white;
}


.section-1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    
}

@media (max-width: 800px) {
    .container {
        margin: 10px;
        padding: 10px;
        width: 100%;

    }

    .column {
        width: 100%;
        display: block;
        margin: 10px 0;
        border: none;
    }

    .row {
        margin: 0;
    }

    b {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }
    .section-1 {
        font-size: 15px;
    }
}


img {
    width: 60px;
    height: 60px;
}
